---
menuId: 107
layout: default
home-title: Ubuntu
description: 疏影横斜水清浅，暗香浮动月黄昏。
pagination: 
  enabled: true
  category: ubuntu
  paginator_path: '/blog/ubuntu/page:num/'
---

{% include header.html %}

<div
    class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}"
    data-theme="{{ site.theme-color }}"
    style="{% if page.header-img %}background: url({{ page.header-img | prepend: site.baseurl }}) no-repeat center center; background-size: cover;{% endif %}"
>
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
</div>

<main class="g-container home-content">
  {% include articleList.html %}

  {% include sidebar.html %}

</main>

    
{% include footer.html %}
