<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="qycode">
  <meta name="author" content="MeanOfWind">
  <meta name="google-site-verification" content="1w76y1n5fv7jgIg9wUz_QsvYWXo6hZ9LhI4VInxjIbs" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

  <title>{{ page.title }}-ngbug.com</title>

  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <script src="/public/js/script.js"></script>

  <script>
    window.g = window.g || {};
    g.menuId = Number('{{page.menuId}}') || 100;
  </script>
</head>