<header class="g-header">
    <div class="g-logo">
      <a href="{{ "/" | relative_url }}"></a>
    </div>
    <i id="menu-toggle" class="iconfont icon-menu"></i>
    <nav class="g-nav">
        <ul>
            {% for item in site.mainMenus %}
                <li 
                {% if page.menuId == item[1].id %}
                    class="id_{{item[1].id}} active"
                {% else %}
                    class="id_{{item[1].id}}"
                {% endif %}
                  >
                    <a href="{{item[1].href}}">{{item[1].name}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
