{%- import "macros/macros.html" as macros -%}

{% extends "base.html" %}

{%- block seo %}
  {{- super() }}
  {%- set title = "分类" %}

  {%- if config.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_head::seo(config=config, title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
    <div>
      <div class="c">
        <h1>共<!--{{ terms | length }}-->4个分类</h1>
        <p>
          {% for term in terms %}
            {% if term.name != "article" and term.name != "diary" %}
              [<a href="#{{ term.name }}">
                {{- macros::get_category_name(name=term.name) }}
              </a>]
            {% endif %}
          {% endfor %}
        </p>
      </div>
      {%- for term in terms %}
        {% if term.name not in ["article", "diary"] %}
          <h2 id="{{ term.name }}">
            <a href="{{ term.permalink | safe }}">
              {{- macros::get_category_name(name=term.name) }}
            </a>
          </h2>
          {%- for page in term.pages %}
          <p><a href="{{ page.permalink | safe }}">{{ page.title }}</a> - <time datetime="{{ page.date }}">{{ page.date | date(format="%F") }}</time></p>
          {%- endfor %}
        {% endif %}
      {%- endfor %}
    </div>
{%- endblock content %}


