{%- import "macros/macros.html" as macros -%}

{% extends "base.html" %}

{%- block seo %}
  {{- super() }}
  {%- set title_prefix = macros::get_category_name(name=term.name) -%}
  {%- set title = title_prefix %}

  {%- if config.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_head::seo(config=config, title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
    <div class="categories-single">
      <h2>{{ macros::get_category_name(name = term.name) }}</h2>
      {%- for year, posts in term.pages | group_by(attribute="year") %}
      <h3>{{ year }}年</h3>
      {%- for page in posts %}
      <p><a href="{{ page.permalink | safe }}">{{ page.title }}</a> - <time datetime="{{ page.date }}">{{ page.date | date(format="%F") }}</time></p>
      {%- endfor %}
      {%- endfor %}
    </div>
{%- endblock content %}
