---
menuId: 103
layout: default
title: 服务器
home-title: 服务器
description: 疏影横斜水清浅，暗香浮动月黄昏。
pagination: 
  enabled: true
  category: server
  paginator_path: '/blog/server/page:num/'
---

{% include header.html %}

<div
    class="g-banner home-banner server {{ site.theme-color | prepend: 'banner-theme-' }}"
    data-theme="{{ site.theme-color }}"
    style="{% if page.header-img %}background: url({{ page.header-img | prepend: site.baseurl }}) no-repeat center center; background-size: cover;{% endif %}"
>
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
</div>

<main class="g-container home-content">
  {% include articleList.html %}

  {% include sidebar.html %}

</main>

    
{% include footer.html %}
