{# This Page Shows the Posts Grouped by Year: example.com/posts/ #}

{% extends "base.html" %}

{%- block seo %}
  {{- super() }}
  {%- set title = section.title %}

  {%- if config.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_head::seo(config=config, title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
    <div class="section-content">
      <div class="c">
        <h1>{{ section.title }}</h1>
        <p>
          {{ section.description }}
        </p>
      </div>

      {%- for post in section.pages %}
      <p>
        <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
        -
        <time datetime="{{ post.date }}">{{ post.date | date(format="%F") }}</time>
      </p>
      {%- endfor %}
    </div>
{%- endblock content %}
