<!DOCTYPE html>
<html lang="zh-cn">
{% include header.html %}
<body>

{% include navbar.html param="value" %}

<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-91">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>

      <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">{{page.title}}</li>
      </ol>



      <div class="row" style="margin:0;">

        {{ content }}


      </div><!--/row-->
    </div><!--/span-->

  </div><!--/row-->


  {% include footer.html %}

</div> <!-- .container -->

<script>
  $('.nav .id_' + g.menuId).addClass('active');
</script>

</body>
</html>
