<!DOCTYPE html>
<html lang="zh-cn">
{% include header.html %}
<body>

{% include navbar.html %}



<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>


      <div class="row" style="margin:-3rem 0 0 0">

        {{ content }}


      </div><!--/row-->
    </div><!--/span-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="list-group">
        <a href="http://qycode.com" class="list-group-item active">NGBUG</a>
        <a href="http://www.symfony.org" class="list-group-item">Symfony2</a>
        <a href="#" class="list-group-item">ZendFrameWork2</a>
        <a href="#" class="list-group-item">Yii</a>
        <a href="#" class="list-group-item">Laravel</a>
        <a href="http://www.Drupla.org" class="list-group-item">Drupal</a>
        <a href="http://www.joomla.org" class="list-group-item">Joomla</a>
        <a href="http://www.github.com" class="list-group-item">Github</a>
        <a href="http://www.monda.cc" class="list-group-item">Monda</a>
      </div>
    </div><!--/span-->
  </div><!--/row-->



  {% include footer.html %}


</div> <!-- .container -->


</body>
</html>
