// Code
pre,
code,
kbd,
samp,
tt,
var {
  border-radius: var(--br);
  background: var(--c2);
  // font-family: var(--fm);
  font-family: 'Fira Code', Consolas, "Source Code Pro", Monaco, Menlo, Consolas, monospace, "Courier New";
  line-height: initial;
  font-size: 1rem;
  padding: .3rem .6rem;
}
pre {
  display: block;
  overflow-x: auto;
  -ms-overflow-style: scrollbar;
  white-space: pre;
  > code {
    display: block;
    background: transparent;
  }
}

pre[class*="language-"] {
  background: transparent url(code-bk.png) repeat scroll 0% 0%;
}

// kbd
kbd {
  background-color: var(--f2);
  color: var(--c1);
  vertical-align: baseline;
  font-size: 1rem;
  padding: .2rem;
}
